.row.margin-top20  
  .col-md-3
    %center
      = image_tag "company-promo.png"
  .col-md-9
    .row
      .col-md-9
        %h2
          = @profile.name
      .col-md-3.text-right
        - if current_user?(@profile.user)
          = button_to "Редактировать профиль", edit_profile_path, method: "get", class: "btn btn-default btn-sm btn-company"      
    %ol.breadcrumb.profile
      %li
        = @profile.location
      %li
        = @profile.employees
        Сотрудников
.row.margin-top20  
  .col-md-3
    %strong.subtitle
      О компании    
    .description
      = @profile.description
    %strong.subtitle
      Контактная информация
    .contact
      = link_to @profile.site
  .col-md-9
    - if @profile.vacancies.any? 
      = render @vacancies
    - else
      На данный момент активных вакансий нет
