.form-wrapper
  = form_tag sessions_path do 
    %div
      %span.text-center.auth-text Войти с помощью:
      %a{:href => "#"}
        = image_tag 'vk-auth.png'
      %a{:href => "#"}
        = image_tag 'fb-auth.png'
      %a{:href => "#"}
        = image_tag 'tw-auth.png'
    .form-group
      = email_field_tag :email, nil, class: "emailField form-control", placeholder: "Email"
    .form-group                    
      = password_field_tag :password, nil, class: "passwordField form-control", placeholder: "Пароль"
    .text-center.margin-top30
      = submit_tag "Вход", class: "btn btn-default btn-lg btn-student"
