.row.vacancy
  .col-md-2.logo
    = image_tag student.avatar.url(:thumb)
  .col-md-6
    .row.title
      %p= full_name(student)
    .row.description
      = student.brief_description
  .col-md-3.text-right
    .location
      = student.location
    .university
      = full_university(student)
