.row.vacancy-row
  .col-md-1
    = response.status
    - if response.unreviewed?
      = render 'vacancies/accept', :student => student
      = render 'vacancies/reject', :student => student
    - else
      = render 'vacancies/unreview', :student => student
  .col-md-2.logo
    = image_tag student.avatar.url(:thumb)
  .col-md-6
    .row.title
      %p= full_name(student)
    .row.description
      = student.brief_description
  .col-md-2.text-right
    .location
      = student.location
    .university
      = student.university_with_graduation
