.row.margin-top20  
  .col-md-3
    %center
      = image_tag @student.avatar.url(:medium)
  .col-md-9
    .row
      .col-md-8
        %h3
          = [@student.name, @student.surname].join(" ")
      .col-md-4.text-right
        - if current_user?(@student.user)
          .row
            %a.btn.btn-defauls.btn-sm.btn-student{ href: edit_student_path(@student) } Редактировать профиль
          .row
            %a.btn.btn-defauls.btn-sm.btn-company{ href: responses_student_path(@student) } Мои отклики
          .row
            %a.btn.btn-defauls.btn-sm.btn-default{ href: following_student_path(@student) } Мои подписки
    %ol.breadcrumb.profile
      %li
        = @student.location
      %li
        = [@student.grade, "курс"].join(" ")
      %li
        = @student.university_with_graduation
.row.margin-top20  
  .col-md-3
    %strong.subtitle
      Обо мне
    .description
      = @student.description
    %strong.subtitle
      Опыт работы
    .experience
      = [@student.work, @student.experience, "years"].join(" ")
    %strong.subtitle
      Иностранные языки
    .language
      = ["Английский", @student.language].join(": ")
    %strong.subtitle
      Контактная информация
    .contact
      = link_to "VK", "http://vk.com/durov"
  .col-md-9
    - if current_user.has_role? :student
      %h4.text-center Лента вакансий
      = render 'feed'
