.row.margin-top20  
  .col-md-3
    %center
      = image_tag @student.avatar.url(:medium)
  .col-md-9
    .row
      .col-md-8
        %h3
          = [@student.name, @student.surname].join(" ")
      .col-md-4.text-right
        - if current_user?(@student.user)
          .row
            = button_to "Редактировать профиль", edit_student_path, method: "get", class: "btn btn-default btn-sm btn-student"
          .row
            = button_to "Мои отклики", responses_student_path, method: "get", class: "btn btn-default btn-sm btn-company"
          .row
            = button_to "Мои подписки", following_student_path(@student), method: "get", class: "btn btn-default btn-sm btn-default"
    %ol.breadcrumb.profile
      %li
        = @student.location
      %li
        = [@student.grade, "курс"].join(" ")
      %li
        = @student.university_with_graduation
.row.margin-top20  
  .col-md-3
    %strong.subtitle
      Обо мне
    .description
      = @student.description
    %strong.subtitle
      Опыт работы
    .experience
      = [@student.work, @student.experience, "years"].join(" ")
    %strong.subtitle
      Иностранные языки
    .language
      = ["Английский", @student.language].join(": ")
    %strong.subtitle
      Контактная информация
    .contact
      = link_to "VK", "http://vk.com/durov"
  .col-md-9
    %h4.text-center Лента вакансий
    = render 'feed'