.form-wrapper
  = form_for @vacancy do |f|
    .form-group
      = f.text_field :title, class: "form-control", placeholder: "Наименование"
    .form-group                    
      = f.text_field :brief_description, class: "form-control", placeholder: "Краткое описание"
    .form-group                    
      = f.text_area :description, class: "form-control", placeholder: "Описание вакансии"
    .form-group                    
    .text-center.margin-top30
      = f.submit "Добавить вакансию", class: "btn btn-default btn-lg btn-company"
