.row.margin-top30
  .col-md-8
    .col-md-4
      %center
        = image_tag @vacancy.company.avatar.url(:medium)  
    .col-md-8
      %h2
        = @vacancy.title
      .title
        = link_to @vacancy.company.name, @vacancy.company
      .col-md-4{:style => "padding-left: 0px"}
        %p.iconbeforep.traineebeforep
          Гибкий график
      .col-md-4{:style => "padding-left: 0px"}
        %p.iconbeforep.paidbeforep
          - if @vacancy.paid?
            Оплачиваемая
          - else
            Не оплачиваемая
      .col-md-4
        %p.iconbeforep.locationbeforep
          = @vacancy.company.location
      %br
    .col-md-12.margin-top10
      %h3
        Основные требования
      = @vacancy.description
    .col-md-12.margin-top10
      %h3
        О Компании
      = @vacancy.company.description   
  .col-md-4
    .row.margin-bottom10
      .col-md-4.gray18px.font18px
        Образование
      .col-md-8.font18px
        = @vacancy.min_grade
        курс
    .row.margin-bottom10
      .col-md-4.gray18px.font18px
        Срок
      .col-md-8.font18px
        = @vacancy.duration || 0
        = Russian::pluralize(@vacancy.duration || 0, "месяц", "месяца", "месяцев")
    .row.margin-bottom10
      .col-md-4.gray18px.font18px
        Дедлайн
      .col-md-8.font18px
        = @vacancy.deadline || 0
        дней
    .row.margin-bottom10
      .col-md-4.font18px.gray18px
        Инструкции
      .col-md-8.font18px
        = @vacancy.instruction
    %br
    - if current_user?(@vacancy.company.user)
      = button_to "Редактировать вакансию", edit_vacancy_path, method: "get", class: "btn btn-default btn-lg btn-company"
    = render 'respond_form' if logged_in?

    
