.vacancy-profile.margin-top20.margin-bottom20
  .row
    .col-xs-8
      .col-xs-4
        = image_tag @vacancy.company.avatar.url(:medium), :class => 'img-rounded'
      .col-xs-8
        %h2
          = @vacancy.title
        .title
          = link_to @vacancy.company.name, @vacancy.company
        .col-xs-4{:style => "padding-left: 0px"}
          %p.iconbeforep.traineebeforep
            Гибкий график
        .col-xs-4{:style => "padding-left: 0px; padding-right: 0px"}
          %p.iconbeforep.paidbeforep
            - if @vacancy.paid?
              Оплачиваемая
            - else
              Неоплачиваемая
        .col-xs-4
          %p.iconbeforep.locationbeforep
            = @vacancy.location
        %br
      .col-xs-12.margin-top10
        %h3
          Основные требования
        = @vacancy.description
      .col-xs-12.margin-top10
        %h3
          О Компании
        = @vacancy.company.description
    .col-xs-4
      .row.margin-bottom10
        .col-xs-4.gray18px.font18px
          Категория
        .col-xs-8.font18px
          = @vacancy.categories.last.name
      .row.margin-bottom10
        .col-xs-4.gray18px.font18px
          Образование
        .col-xs-8.font18px
          = from_grade(@vacancy.min_grade)
      .row.margin-bottom10
        .col-xs-4.gray18px.font18px
          Срок
        .col-xs-8.font18px
          = duration_in_months(@vacancy.duration)
      .row.margin-bottom10
        .col-xs-4.gray18px.font18px
          Дедлайн
        .col-xs-8.font18px
          = deadline_from_date(@vacancy.deadline)
      .row.margin-bottom10
        .col-xs-4.font18px.gray18px
          Инструкции
        .col-xs-8.font18px
          = @vacancy.instruction
      %br
      - if current_user?(@vacancy.company.user)
        %a.btn.btn-defauls.btn-lg.btn-company{ href: edit_vacancy_path(@vacancy) } Редактировать вакансию
      = render 'respond_form' if logged_in?

