.row.vacancy
  .col-md-2.logo
    = image_tag company.avatar.url(:thumb)  
  .col-md-8
    .row.title
      %p= raw link_to(company.name, company)
    .row.description
      = company.location
  .col-md-1.text-right
    %div
      = company.vacancies.count
    %div
      = Russian::pluralize(company.vacancies.count, "вакансия", "вакансии", "вакансий")
