.row.company-row{class: (company == @companies.last) && 'last-company-row'}
  .col-md-2.logo
    = image_tag company.avatar.url(:thumb)  
  .col-md-6
    .row.title
      %p= raw link_to(company.name, company)
    .row  
      Подписчиков: 
      %strong#followers
        = company.students.count
  .col-md-3
    .row
      .col-md-6.text-center
        %div
          = company.vacancies.count
        %div
          = Russian::pluralize(company.vacancies.count, "вакансия", "вакансии", "вакансий")
      .col-md-6
        = render 'shared/follow_form', :company => company if logged_in?
