.row.margin-top20  
  .col-md-3
    %center
      = image_tag @company.avatar.url(:medium)  
  .col-md-9
    = render 'shared/follow_form', :company => @company if logged_in?
    .row
      .col-md-8
        %h3
          = @company.name
      .col-md-4.text-right
        - if current_user?(@company.user)
          .row
            %a.btn.btn-defauls.btn-sm.btn-student{ href: edit_company_path(@company) } Редактировать профиль
          .row
            %a.btn.btn-defauls.btn-sm.btn-company{ href: responses_company_path(@company) } Управление откликами
    %ol.breadcrumb.profile
      %li
        = @company.location
      %li
        = @company.employees
        Сотрудников
      %li
        Подписчиков: 
        %strong#followers
          = @company.students.count
.row.margin-top20  
  .col-md-3
    %strong.subtitle
      Тип компании
    .agency
      - if @company.agency
        Кадровое агентство
      - else
        Прямой работодатель
    %strong.subtitle
      О компании    
    .description
      = @company.description
    %strong.subtitle
      Контактная информация
    .contact
      %div
        = @company.phone
      %div  
        = link_to @company.site, @company.site      
  .col-md-9
    - if @company.vacancies.any?
      = render partial: 'vacancies/vacancy', collection: @company.vacancies
    - else
      На данный момент активных вакансий нет
