.row.margin-top20  
  .col-md-3
    %center
      = image_tag "company-promo.png"
  .col-md-9
    = render 'follow_form' if logged_in?
    .row
      .col-md-8
        %h3
          = @company.name
      .col-md-4.text-right
        - if current_user?(@company.user)
          .row
            .col-md-6
              = button_to "Редактировать профиль", edit_company_path, method: "get", class: "btn btn-default btn-sm btn-student"
            .col-md-6
              = button_to "Управление", responses_company_path, method: "get", class: "btn btn-default btn-sm btn-company"

    %ol.breadcrumb.profile
      %li
        = @company.location
      %li
        = @company.employees
        Сотрудников
      %li
        %strong#followers
          = @company.students.count
        Подписчиков
.row.margin-top20  
  .col-md-3
    %strong.subtitle
      Тип компании
    .agency
      - if @company.agency
        Кадровое агентство
      - else
        Прямой работодатель
    %strong.subtitle
      О компании    
    .description
      = @company.description
    %strong.subtitle
      Контактная информация
    .contact
      %div
        = @company.phone
      %div  
        = link_to @company.site, @company.site      
  .col-md-9
    - if @company.vacancies.any?
      = render @company.vacancies
    - else
      На данный момент активных вакансий нет
