.col-md-10.col-md-offset-1.margin-top20
  .auth
    .auth-header
      .row
        .col-md-12
          .student.col-md-6.text-center.auth-tabs.auth-tabs-active
            Студент
          .company.col-md-6.text-center.auth-tabs
            Компания
    .auth-content.student
      .row
        .col-md-12
          .col-md-6
            .form-wrapper
              %form{:role => "form"}
                %div
                  %span.text-center.auth-text Войти с помощью:
                  %a{:href => "#"}
                    = image_tag 'vk-auth.png'
                  %a{:href => "#"}
                    = image_tag 'fb-auth.png'
                  %a{:href => "#"}
                    = image_tag 'tw-auth.png'
                .form-group
                  %input#emailField.form-control{:placeholder => "Email", :type => "email"}
                .form-group
                  %input#passwordField.form-control{:placeholder => "Пароль", :type => "password"}
                .checkbox
                  %label
                    %input{:type => "checkbox"}
                      Я принимаю пользовательское соглашение
                .text-center.margin-top30
                  %button.btn.btn-default.btn-lg.btn-student{:type => "submit"} Регистрация
          .col-md-6
            .promo-items
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками

    .auth-content.company.hide
      company
      .row
        .col-md-12
          .col-md-6
            .form-wrapper
              %form{:role => "form"}
                %div
                  %span.text-center.auth-text Войти с помощью:
                  %a{:href => "#"}
                    = image_tag 'vk-auth.png'
                  %a{:href => "#"}
                    = image_tag 'fb-auth.png'
                  %a{:href => "#"}
                    = image_tag 'tw-auth.png'
                .form-group
                  %input#emailField.form-control{:placeholder => "Email", :type => "email"}
                .form-group
                  %input#passwordField.form-control{:placeholder => "Пароль", :type => "password"}
                .checkbox
                  %label
                    %input{:type => "checkbox"}
                      Я принимаю пользовательское соглашение
                .text-center.margin-top30
                  %button.btn.btn-default.btn-lg.btn-student{:type => "submit"} Регистрация
          .col-md-6
            .promo-items
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками

.clearfix