!!!
%html{lang: "en"}
  %head
    %title
      = page_title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body

    .wrapper
      .container
        = render 'shared/header'
        = render 'shared/flash_message'
        = yield
        -#= debug(params) if Rails.env.development?
      .push
      
    = render 'shared/footer'
